/* 
  Theme Name: Strong Balanced Solutions Theme
  Description: Custom theme developed for Strong Balanced Solutions
  Author: Calvin Sant
  Author URI: https://santekonline.com
  Version: 0.1.0
  Template: wp-bootstrap-starter
*/
@import url("../../trunk/wp-content/themes/wp-bootstrap-starter/style.css");